<footer class="section footer wf-section">
    <div class="wrapper-content maps">
      <div id="map" class="map"></div>
      <div class="footer-infos">
        <div class="wrap">
          <div>{{ texts.48d36f8d }}</div>
          <div>{{ texts.552b670a }}</div>
        </div>
        <div class="wrap">
          <a href="{{ links.195e1b6f }}" class="link-footer">{{ texts.7e36aa69 }}</a>
          <a href="{{ links.21d0ec0 }}" class="link-footer">{{ texts.-45702d9f }}</a>
          <a href="{{ links.13c5e938 }}" class="link-footer">{{ texts.274f16 }}</a>
        </div>
        <div class="wrap">
          <a href="{{ links.13c5e938 }}" class="link-footer">{{ texts.22435d8a }}</a>
          <a href="{{ links.-230e0809 }}" class="link-footer">{{ texts.43219700 }}</a>
          <a href="{{ links.-7ada8706 }}" class="link-footer">{{ texts.6f6b7057 }}</a>
        </div>
        <div class="wrap socials">
          <a href="{{ links.-7488b63c }}" class="social-link-block w-inline-block"><img src="{{ images.-4fa3fa0f.url }}" loading="lazy" alt="{{ images.-4fa3fa0f.alt | trim | escape }}" class="icon-social"></a>
          <a href="{{ links.17c50ff5 }}" target="_blank" class="social-link-block w-inline-block"><img src="{{ images.-190739ed.url }}" loading="lazy" alt="{{ images.-190739ed.alt | trim | escape }}" class="icon-social"></a>
          <a href="{{ links.5061d64e }}" target="_blank" class="social-link-block last w-inline-block"><img src="{{ images.-4a07749b.url }}" loading="lazy" alt="{{ images.-4a07749b.alt | trim | escape }}" class="icon-social"></a>
        </div>
      </div>
    </div>
  </footer>