<nav data-w-id="5b03bdb7-a910-4ba2-7112-96f6d12c1640" class="section-navigation wf-section">
    <div class="wrap-nav">
      <a href="{{ links.2f }}" aria-current="page" class="link w--current">{{ texts.2268ff }}</a>
      <a href="{{ links.195e1b6f }}" class="link">{{ texts.7e36aa69 }}</a>
      <a href="{{ links.21d0ec0 }}" class="link">{{ texts.-45702d9f }}</a>
      <a href="{{ links.13c5e938 }}" class="link">{{ texts.274f16 }}</a>
      <a href="{{ links.38436f79 }}" class="link">{{ texts.22435d8a }}</a>
    </div>
    <div class="wrap-nav">
      <div class="contact-desktop">
        <div data-w-id="0c06f9bb-a9fa-0183-3b37-7ee4e74e12c6" class="link link--no-margin">{{ texts.43219700 }}</div>
      </div>
    </div>
    <div class="wrapper-hamburger w-embed">
      <style>
    :root {
      --stroke-width: 40px;
      --stroke-linecap: round;
      --stroke-color: white;
      --main-bg-color: translate3d(0, 0, 0);
      --transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25),
        stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    }
    #hamburgerSvg {
      width: 50px;
      height: 50px;
      cursor: pointer;
      -webkit-transform: var(--main-bg-color);
      -moz-transform: var(--main-bg-color);
      -o-transform: var(--main-bg-color);
      -ms-transform: var(--main-bg-color);
      transform: var(--main-bg-color);
      /* removes focus for Chrome on Android*/
      -webkit-tap-highlight-color: rgba(255,
          255,
          255,
          0);
    }
    .path-menu {
      fill: none;
      -webkit-transition: var(--transition);
      -moz-transition: var(--transition);
      -o-transition: var(--transition);
      -ms-transition: var(--transition);
      transition: var(--transition);
      stroke-width: var(--stroke-width);
      stroke-linecap: var(--stroke-linecap);
      stroke: var(--stroke-color);
      stroke-dashoffset: 0px;
    }
    #top,
    #bottom {
      stroke-dasharray: 240px 950px;
    }
    #middle {
      stroke-dasharray: 240px 240px;
    }
    .cross #top,
    .cross #bottom {
      stroke-dashoffset: -650px;
      stroke-dashoffset: -650px;
    }
    .cross #middle {
      stroke-dashoffset: -115px;
      stroke-dasharray: 1px 220px;
    }
  </style>
      <!--  Hamburger menu SVG markup -->
      <svg id="hamburgerSvg" viewBox="0 0 800 600">
        <path id="top" class="path-menu" d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"></path>
        <path id="middle" class="path-menu" d="M300,320 L540,320"></path>
        <path id="bottom" class="path-menu" d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
      </svg>
    </div>
    <div class="wrapper-menu-mobile">
      <div id="close-area" class="nav__close-area"></div>
      <div class="nav__mobile-wrap-links">
        <a href="{{ links.2f }}" aria-current="page" class="link dark w--current">{{ texts.2268ff }}</a>
        <a href="{{ links.195e1b6f }}" class="link dark">{{ texts.36187a65 }}</a>
        <a href="{{ links.-18e53b63 }}" class="link dark">{{ texts.-45702d9f }}</a>
        <a href="{{ links.13c5e938 }}" class="link dark">{{ texts.274f16 }}</a>
        <a href="{{ links.38436f79 }}" class="link dark">{{ texts.-29c63558 }}</a>
        <a data-w-id="cbdeee6f-bb3e-ccef-f6fe-b2c43d435e96" href="{{ links.23 }}" class="link dark">{{ texts.43219700 }}</a>
      </div>
    </div>
    <div class="kontakt__wrap">
      <div class="kontakt__envelope"><img src="{{ images.-4b96f42f.url }}" loading="lazy" data-w-id="a77757ea-30f3-1be1-ddcd-9396ba69ccc9" alt="{{ images.-4b96f42f.alt | trim | escape }}" class="icon close-button">
        <p class="paragraph paragraph--no-margin">
          <a href="{{ links.2e562e44 }}" target="_blank" class="link-2">{{ texts.-4a6027e3 }}<br>{{ texts.54d97183 }}<br>{{ texts.50de0189 }}</a><br>{{ texts.200d }}<br>{{ texts.66d6bcff }}<br>{{ texts.200d }}<br>
          <a href="{{ links.2f390ee6 }}" class="span-link">{{ texts.-435d8086 }}<br>{{ texts.200d }}</a>
          <a href="{{ links.1f0a0b81 }}" class="span-link">{{ texts.-8ceb1b7 }}</a>
        </p>
      </div>
    </div>
  </nav>